body
{
  width: 700px;
  margin: 20px auto;
  padding: 20px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #999;
  border: 1px solid #bbb;
  -moz-box-shadow: 10px 10px 10px #ffffff; /* FF3.5+ */

}
html
{
  background:#333;
}
